body{
    background-color:rgba(162, 77, 177, 0.466);   
}

.box{
    width:60%;
    margin:1% auto;
    padding: 1%;
    border-bottom:5px solid rgb(25, 58, 78);
    border-radius:5%;
}
.heading{
    border-left:10px solid rgb(25, 58, 78);
    border-bottom:5px solid rgb(25, 58, 78);
    border-radius:10%;
}

.progress {
    text-align: center;
    color:black;
}
.imageStatus {
    width:100%;
    text-align: center;
    margin:1%;
    cursor: default;
}
#resetButton {
    float: right;
}
#showNewsStatus{
    animation: disp 8s;
}
@keyframes disp{
    from {opacity: 1;}
    to {opacity: 0;}
}